<h1>
  List of all actors
</h1>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>
  <% @list_of_actors.each do |the_actor| %>
  <tr>
    <th>
      <%= the_actor.id %>
    </th>

    <th>
      <img src="<%= the_actor.image %>" style="width:250px;">
    </th>

    <th>
      <%= the_actor.name %>
    </th>

    <th>
      <%= the_actor.dob %>
    </th>

    <th>
      <a href="/actors/<%= the_actor.id %>">Show details</a>
    </th>
  </tr>
  <% end %>
</table>
